/*== Global Default Styles ==*/
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

th {
    top: 0;
    position: sticky;
    z-index: 1;
}

/*== Table Action Button ==*/
.action-btn {
    text-align: center;
}

/*== Navbar Styles ==*/
.navbar {
    box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.2);
}

.navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-link.show {
    color: #EA906C;
}

.navbar-nav .nav-link.dropdown-toggle.show {
    color: #EA906C;
}

.navbar-nav .dropdown-menu {
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.1);
}

.navbar-nav .dropdown-menu a {
    color: #212529; 
}

.navbar-nav .dropdown-menu a:hover {
    background-color: #CD1818; 
    color: white;
}

.navbar-nav .dropdown-menu .dropdown-item.active {
    background-color: #CD1818; 
    color: white;
}

.badge {
    position: relative;
}

.badge p {
    padding: 3px;
    min-width: 16px;
    background-color: #fd7e14;
    border-radius: min(50%);
    position: absolute;
    top: 8px;
    right: 24px;
    z-index: 1;
}
/*== Navbar Styles End ==*/

/*== Modal Syles ==*/
.modal-header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #CD1818;
    box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.2);
}

@keyframes popIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.modal {
    animation: popIn 0.3s ease 0s 1 normal forwards;
}

/*== Info Modal ==*/
.info-container {
    display: flex;
    justify-content: space-between;
}

.info-quantity-container {
    display: flex;
    gap: 20px;
}
/*== Modal Syles End ==*/

/*== Table Styles ==*/
.table-body {
    flex: 1;
    overflow-y: auto;
}

.table-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6969;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 45px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 3px 0;
    background-color: #ffff;
    border-radius: 50px;
}

.pagination li a {
    display: block;
    margin-inline: 8px;
    padding-inline: 8px;
    text-decoration: none;
    color: black;
}
.pagination li a:hover {
    background-color: #F28585;
    border-radius: 50px;
}
.pagination li.active a {
    color: white;
    background-color: #F28585;
    border: 2px solid #D24545;
    border-radius: 50px;
}


/*== End ==*/

/*== Standard Template Styles ==*/
.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 60px;
}

.content-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F9FBE7;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-inline: 2%;
    padding-block: 2%;
}
/*== End ==*/

/*== Specific Styles ==*/

/*== Dashboard ==*/
.dashboard-main-wrapper {
    flex: 1;
    display: grid;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 20px;
}

.dashboard-row-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.dashboard-row-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.dashboard-card-sm {
    padding: 1%;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.1);
    height: 100%;
}

.dashboard-card-sm-row {
    display: flex;
    justify-content: space-between;
    padding-inline: 0 5%;
}

.dashboard-card-sm:nth-child(1) {
    border: 1px solid #adb5bd;
    border-left: 10px solid #adb5bd;
    border-radius: 5px;
}

.dashboard-card-sm:nth-child(2) {
    border: 1px solid #0d6efd;
    border-left: 10px solid #0d6efd;
    border-radius: 5px;
}

.dashboard-card-sm:nth-child(3) {
    border: 1px solid #198754;
    border-left: 10px solid #198754;
    border-radius: 5px;
}

.dashboard-card-sm:nth-child(4) {
    border: 1px solid #dc3545;
    border-left: 10px solid #dc3545;
    border-radius: 5px;
}

.dashboard-card-md {
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.1);
    height: 100%;
    border: 1px solid #CD1818;
    border-radius: 5px;
}

.dashboard-card-md-row {
    padding: 2%;
}

.dashboard-card-md-row:nth-child(odd) {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #CD1818;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
    box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.2);

}
/*== Dashboard End ==*/

/*== RM Manage ==*/
.rm-manage-main-wrapper {
    flex: 1;
    display: grid;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 20px;
}

.rm-manage-row-2 {
    display: grid;
    gap: 20px;
}

.rm-manage-sm-card {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color: white;
    background-color: #CD1818;
    border-radius: 5px;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.1);
    
}

.rm-manage-md-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.1);
    border: 1px solid black;
    border-radius: 5px;
}

.rm-manage-md-card-btn-searchbar {
    display: flex;
    gap: 20px;
}

.rm-manage-md-card-row:nth-child(odd) {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1%;
    color: white;
    background-color: #CD1818;
    box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.2);
}

.rm-info-header {
    display: flex;
    justify-content: space-between;
}

.rm-depleted-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
/*== RM Manage End==*/

/*== RM History ==*/

.rm-history-row-1 {
    flex: 1;
    display: flex;
}

/*== RM History End ==*/

/*== RM Status ==*/

.rm-status-md-card-row {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1%;
    color: white;
    background-color: #CD1818;
    box-shadow: 0px 1px 10px 4px rgba(0,0,0,0.2);
    gap: 45%;
}

.rm-status-md-card-btn-searchbar {
    display: flex;
    gap: 20px;
}

.rm-status-row-1 {
    flex: 1;
    display: flex;
}

/*== RM Status End ==*/

/*== Product Manage ==*/
.fg-manage-row-1 {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 20px;
}


.fg-manage-table {
    flex: 1;
    display: flex;
}

.fg-pack-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.fg-manage-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.selected-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden; 
    overflow-y: auto;
}

.fg-info-header {
    display: flex;
    justify-content: space-between;
}

.selected-box {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.1);
}

.selected-list::-webkit-scrollbar {
    width: 0; 
    display: none; 
}

/*== FG Manage End ==*/


/*== FG Mange ==*/
.p-manage-row-1 {
    flex: 1;
    display: flex;
    gap: 20px;
}

.p-manage-table {
    flex: 1;
    display: flex;
}

.fg-pack-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.fg-manage-list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*== Product Manage End ==*/

/*== End ==*/
